/* Global volume control */
.volume-control {
  position: fixed;
  top: 18px;
  left: 18px;
  display: inline-block;
  width: 56px;
  height: 56px;
  padding: 6px;
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(167, 14, 128, 0.25);
  transition: width 0.3s ease;
  overflow: hidden;
}

.volume-control:hover {
  width: 190px;
}

.slider {
  /* slider */
  --slider-width: 125px;
  --slider-height: 4px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 999px;
  /* level */
  --level-color: #fff;
  --level-transition-duration: .5s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--slider-bg);
  --icon-size: 38px;

  cursor: pointer;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}

.slider .volume {
  display: inline-block;

  vertical-align: top;
  margin-right: var(--icon-margin);
  color: var(--icon-color);
  width: var(--icon-size);
  height: auto;

}

.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  cursor: inherit;

  /* start hidden from left */
  transform: scaleX(0);
  transform-origin: left center;
  -webkit-transition: transform var(--level-transition-duration), height var(--level-transition-duration);
  -o-transition: transform var(--level-transition-duration), height var(--level-transition-duration);
  transition: transform var(--level-transition-duration), height var(--level-transition-duration);
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}

.slider .level::-moz-range-thumb {
  border: none;
  width: 0;
  height: 0;
  box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
  transform: scaleX(1);
  height: calc(var(--slider-height) * 2);
}